#preferences-box.amacube-preferences-box {
    left: 0px
}

#preferences-details fieldset legend {
    position: relative;
    display: block
}

#preferences-details table.propform td {
    height: 26px;
    line-height: 26px;
    vertical-align: middle
}

#preferences-details table.propform td input[type=checkbox],
#preferences-details table.propform td input[type=radio] {
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 2px
}

a.spam:before {
    content: "\f717"
}

a.process:before {
    content: "\f362"
}

#mainscreen {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

#pluginbody.quarantine-pluginbody {
    top: 42px
}

#pluginbody.quarantine-pluginbody #countcontrols {
    justify-content: center
}

#pluginbody.quarantine-pluginbody #countcontrols .countdisplay {
    flex-grow: 0
}

#pluginbody.quarantine-pluginbody #countcontrols a {
    overflow-y: hidden
}

#pluginbody.quarantine-pluginbody #messagelist td.subject {
    display: table-cell
}

#pluginbody.quarantine-pluginbody #messagelist > thead {
    display: table-header-group
}

#pluginbody.quarantine-pluginbody #messagelist thead tr th {
    border-top-width: 0px
}


#pluginbody.quarantine-pluginbody #messagelist thead tr td {
    padding: 7px
}

#pluginbody.quarantine-pluginbody #messagelist thead tr th.release,
#pluginbody.quarantine-pluginbody #messagelist tr td.release {
    text-align: center
}

#pluginbody.quarantine-pluginbody #messagelist thead tr th.delete,
#pluginbody.quarantine-pluginbody #messagelist tr td.delete {
    text-align: center
}

#pluginbody.quarantine-pluginbody #messagelist thead tr th.date,
#pluginbody.quarantine-pluginbody #messagelist tr td.date {
    white-space: nowrap
}

#pluginbody.quarantine-pluginbody #messagelist thead tr th.type,
#pluginbody.quarantine-pluginbody #messagelist tr td.type {
    white-space: nowrap
}
